@use '../../../../App';

.MobileMenuButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 50px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 5px;
    transition: .15s;
    position: relative;
    overflow: hidden;
}

.MobileMenuButton:hover {
    background-color: App.$brown1HoverBG;
}

.normal1,
.normal2,
.normal3,
.x1,
.x2,
.x3 {
    position: absolute;
    width: 40px;
    height: 5px;
    background-color: App.$brown1;
    border-radius: 5px;
    transition-timing-function: ease-in-out;
    opacity: 1;
    display: flex;
}

.normal1,
.normal3,
.x1,
.x3 {
    transition: .45s;
}

.normal2,
.x2 {
    transition: .4s;
}

.normal1 {
    transform: translateY(-12px);
}

.normal3 {
    transform: translateY(12px);
}

.x1 {
    transform: rotate(45deg);
}

.x2 {
    transform: translateX(-50px);
    opacity: 0;
}

.x3 {
    transform: rotate(-45deg);
}

@media (min-width: 600px) {
	.MobileMenuButton {
        display: none;
    }
}