$brown1: #5e3d0e;
$brown1HoverBG: rgba(94, 61, 14, 0.2);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4 {
	color: #232323;
}

body {
	background-color: #f0f0f0;
	overflow-x: hidden;
}

.pageContainer {
	padding: 20px 0 60px 0;
	max-width: 1000px;
	margin: 0 auto;
}

@media (min-width: 600px) {
	body {
		overflow-x: visible;
	}

	.pageContainer {
		padding-top: 80px;
	}
}
