@import "../../../variables.scss";

.EditProfileView {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.pageTitle {
	font-weight: 1000;
	font-size: xx-large;
	color: $orange;
}


.formText {

	font-weight: $form-label-font-weight;
	font-size: $form-label-font-size;
	margin-bottom: $form-label-margin-bottom;
}

.form {
	display: flex;
	flex-direction: column;
	width: 94%;
    margin-left: 8px;

}

.image{
	display: flex;
	align-items: center;
	justify-content: center;
}

.biography{
	height: 100px;
}

.editContainer{
	width: 300px;
	background-color: white;
	padding-top: 10px;
	padding-bottom: 1px;
	border-style: solid;
	border-width: 0.5px;
	border-color: $gray-light;
	border-left-color: $orange;
	border-left-width: 5px;
	margin-left: 35%;
	margin-right: 35%;
	margin-top: 0%;
	display: flex;
	flex-direction: column;
	align-items: left;
	padding: 15px;
	margin: 10px;
}


.changeButton{
	text-align: center;

}

.saveButton,
.cancelButton {
	padding: 5px 30px;
	cursor: pointer;
	border-radius: 3px;
	transition: $hover-transition-speed;
	margin-top: 10px;
}

.saveCancel {
	display: flex;
	flex-direction: row;
	padding-bottom: 10px;
	justify-content: space-between;
}


.saveButton {
	background-color: $orange;
	margin-right: 20px;
}

.saveButton:hover {
	background-color: $orange-dark;
}

.cancelButton {
	background-color: $red;
	margin-left: 20px;
}

.cancelButton:hover {
	background-color: $red-dark;
}