.UserImage {
	border-radius: 50px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
	border: 2px solid transparent;
	box-sizing: content-box !important;
	overflow: hidden;
}
