.SwitchButton {
    border-color:#fec46e;
    border-style: solid;
    border-width: 1px;
    background-color: #f8f7f4;

    display: flex;
    flex-direction: row;
    justify-content: center;

    align-items: center;
    height: 30px;
    width: 363px;
    cursor: pointer;
    transition: .4s;
    user-select: none;
    padding:20px;
    margin:10px;

    
}

.SwitchButton:hover {
    background-color:#fbd9a6;
}


.item1 {

    color: rgb(1, 1, 1);
    margin: 0 5px;
 }


.item2 {
    color:#fec46e ;
    font-weight: bold;
    font-style: italic;
    margin: 0 5px;
}



