// @import "../../Common/Variables.scss";

.FileUploaderInspo {
	display: flex;
	flex-direction: column;
	flex: 1;
	width: 100%;

	input {
		&[type="file"] {
			display: none;
		}
	}

	.uploaderContainer {
		display: flex;
		flex: 1;
		border: 2px dashed #fec46e;
		background-size: contain;
		background-repeat: no-repeat;
		background-position-x: 50%;
		background-position-y: 50%;

		label {
			display: flex;
			align-items: center;
			justify-content: center;
			align-content: center;
			width: 100%;
			height: 100%;
			cursor: pointer;
			min-height: 10em;
			transition: 0.3s;
		}

		label:hover {
			background-color: rgb(0, 0, 0, 0.05);
		}

		.cancelUpload {
			display: flex;
			width: 100%;
			padding: 0.1em 0.4em;
			justify-content: flex-end;

			span {
				cursor: pointer;
			}
		}
	}
}
