@import "../../variables.scss";

.discoverPageContainer {
	max-width: $max-width-of-page;
	margin: 0 auto;
}

.discoverPage {
	display: flex;
	flex-direction: row;
}

.loader{
    display: flex;
    padding-top: 100px;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.loadericon{
    color: rgb(62, 122, 235);
    border-radius: 1rem;
    transition: 1s ease;
    transition-delay: 0.5s;
}

.SearchBar {
	display: flex;
	justify-content: center;
	position: relative;
	z-index: 1;
}

.discoverSidebar {
	flex: 1;
	padding-top: 20px;
	padding-right: 20px;
	max-width: 300px;
}

.sideBarText {
	font-weight: bold;
	font-size: large;
	width: 300px;
}

.popularSongs {
	margin-bottom: 20px;
}

.recommendedSongs {
	margin-bottom: 20px;
}

.songCard {
	background-color: white;
	margin-top: 10px;
}

.discoverFeed {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 20px;
	flex: 2;
}

.card {
	margin-bottom: 10px;
}

@media (min-width: $mobile-breakpoint-2) {
	.card {
		margin: 10px;
		margin-top: 0px;
	}
}

@media (min-width: $mobile-breakpoint) {
	.SearchBar {
		display: none;
	}
}

@media (max-width: $mobile-breakpoint) {
	.discoverSidebar {
		display: none;
	}
	.discoverPage {
		margin-top: 20px;
	}
}
