@import "../../variables.scss";

.outsideContainer {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1005;
}

.SearchBar {
	position: relative;
	display: flex;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1007;
}

.SearchInput {
	padding: 15px;
	height: 40px;
	width: 100%;
	border: 0;
	border-bottom: 1px solid $gray-light;
}

.SearchList {
	position: absolute;
	top: 30px;
	left: 0;
	max-height: 200px;
	overflow: scroll;
	background-color: white;
	width: 100%;
}

.SearchItems {
	//padding: 5px;
	border-bottom: 0.5px solid $gray-light;
	border-left: 0.5px solid $gray-light;
	border-right: 0.5px solid $gray-light;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.SearchItemsImages{
	height: 25px;
	width: 25px;
	border-radius: 50%;
	margin-left: 5px;
}

.SearchItemsText {
	padding-left: 5px;
	margin: 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	
}

@media (min-width: $mobile-breakpoint) {
	.SearchBar {
		z-index: 1006;
		position: relative;
		width: 175px;
	}

	.SearchInput {
		height: 30px;
		width: 150px;
		border: 1px solid $gray-light;
		border-radius: 2px;
	}

	.SearchList {
		top: 32px;
		max-height: 200px;
		overflow: scroll;
		border: 1px solid $gray-light;
		width: 175px;
		z-index: 1006;
	}
}
