.SongCard {
	height: 64px;
	display: flex;
	flex-direction: row;
	border-radius: 2px;
	justify-content: space-between;
}

.SongCard img {
	height: 64px;
	width: 64px;
}

.albumCoverAndSongInfoContainer {
	display: flex;
	width: calc(100% - 70px);
}

.SongInfoContainer {
	display: flex;
	padding: 10px;
	flex-direction: column;
	justify-content: space-between;
	overflow-x: hidden;
}

.SongTitleContainer,
.SongArtistsContainer {
	display: flex;
	align-items: center;
	white-space: nowrap;
}

.SongTitleContainer span,
.SongArtistsContainer div {
	overflow-x: hidden;
	white-space: nowrap;
	transition: text-indent 60s linear;
}

.SongTitleContainer span {
	margin-left: 9px;
}

.SongArtistsContainer div {
	margin-left: 5px;
}

.SongTitleContainer:hover span,
.SongArtistsContainer:hover div {
	text-indent: -3000px;
}

.playButtonContainer {
	display: flex;
	align-self: center;
	align-items: center;
	justify-content: center;
	background-color: #fec46e;
	width: 64px;
	height: 64px;
	cursor: pointer;
	user-select: none;
}

.dontButtonContainer {
	display: flex;
	align-self: center;
	align-items: center;
	justify-content: center;
	background-color: grey;
	width: 64px;
	height: 64px;
}

.playButtonContainer:hover {
	background-color: #eeb45e;
}

.songCardPlayerImage {
	height: 30px;
	width: 30px;
	align-self: center;
	fill: white;
}

.artistContainer:not(:last-child)::after {
	content: ", ";
}
