@import "../../../variables.scss";

.SignInUpButton {
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
	width: 300px;
	padding: 20px;
	margin: 10px;

	cursor: pointer;
	transition: $hover-transition-speed;
	//width: fit-content;
	user-select: none;
}

// Byt till rätt färger här
.standardStyle {
	background-color: $orange;
	color: $black;
}

.standardStyle:hover {
	background-color: $orange-dark;
}
