.SignInUpButton {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 300px;
    padding:20px;
    margin:10px;
    
    cursor: pointer;
    transition: .4s;
    //width: fit-content;
    user-select: none;
}



// Byt till rätt färger här 
.standardStyle {
    background-color:#fec46e;
    color: rgb(1, 1, 1);
}

.standardStyle:hover {
    background-color:   #fbd9a6;
}

