@import "../../../variables.scss";

.Menu {
	display: flex;
	height: 60px;
	width: 100%;
	background-color: white;
	position: fixed;
	bottom: 0;
	z-index: 1000;
	align-items: center;
	justify-content: flex-end;
	transition: $hover-transition-speed;
	border-top: 1px solid $gray-light;
}

.menuContent {
	margin: 0 auto;
	width: 100%;
	max-width: 935px;
	height: 100%;
	display: none;
	align-items: center;
	justify-content: space-between;
	display: flex;
}

.iconContainer {
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (min-width: $mobile-breakpoint) {
	.Menu {
		display: none;
	}
}
