@import "../../../variables.scss";

.Menu {
	height: 60px;
	width: 100vw;
	background-color: white;
	position: fixed;
	z-index: 1000;
	display: none;
	align-items: center;
	justify-content: flex-end;
	transition: $hover-transition-speed;
	border-top: 5px solid $orange;
	border-bottom: 1px solid $gray-light;
}

.menuContent {
	margin: 0 auto;
	width: 100%;
	padding: 0 40px 0 20px;
	max-width: 935px;
	height: 100%;
	display: none;
	align-items: center;
	justify-content: space-between;
	display: flex;
}

.iconsToRight {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 290px;
}

.signOut {
	cursor: pointer;
	border-radius: 3px;
	user-select: none;
	background-color: $gray-light;
	color: $black;
	height: 34px;
	padding: 0 7px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.signOut:hover {
	background-color: $gray-dark;
}

.signOut span {
	margin-right: 7px;
}

@media (min-width: $mobile-breakpoint) {
	.Menu {
		display: flex;
	}
}
