.PostCardHome {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 300px;
	background-color: #fff;
	overflow: hidden;
}

.PostCardDiscovery {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	width: 300px;
	background-color: #fff;
	overflow: hidden;
}

.layer1 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 60px;
	border: 1px solid #dbdbdb;
	padding: 0 10px;
}

.publisherInfoContainer {
	height: 100%;
	display: flex;
	align-items: center;
}

.publisherInfoContainer div {
	cursor: pointer;
}

.profilePictureOfPublisher {
	cursor: pointer;
	height: 70%;
	border-radius: 50%;
	margin-right: 10px;
}

.postImage {
	height: 200px;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
}

.reviewContainer {
	display: flex;
	height: 45px;
	align-items: center;
	border: 1px solid #dbdbdb;
	padding: 0 10px;
}

.ratingContainer {
	display: flex;
	font-size: 20px;
}

.ratingContainer div:not(:last-child) {
	margin-right: 2px;
}

.tagsContainer {
	display: flex;
	margin-left: 10px;
}

.tag {
	border: 20px;
	padding: 3px 5px;
	border: 1px solid #232323;
	border-radius: 30px;
	font-size: 13px;
	font-weight: 400;
}

.tag:not(:last-child) {
	margin-right: 5px;
}

.interactionContainer {
	display: flex;
	flex-direction: column;
	align-items: left;
	padding: 10px;
	background-color: white;
	border-left: 1px solid #dbdbdb;
	border-right: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
}

.likeAndCommentContainer {
	display: flex;
	font-size: 25px;
	color: #232323;
}

.likeAndCommentContainer div {
	cursor: pointer;
	transition: 0.2s;
	user-select: none;
}

.likeAndCommentContainer div:first-child {
	margin-right: 6px;
}

.likeAndCommentContainer div:hover {
	transform: scale(1.04);
	color: #fec46e !important;
}

.numberOfLikes,
.captionAndComments div {
	display: flex;
	margin-top: 3px;
}

.numberOfLikes {
	font-weight: 700;
}

.userNameInComment {
	margin-right: 5px;
	text-align: left;
}

.userNameInComment strong {
	cursor: pointer;
	user-select: none;
}

.userNameInComment strong::after {
	content: " ";
}

.commentContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.deleteComment {
	margin-top: -2px !important;
}

.viewPost {
	cursor: pointer;
	transition: 0.2s;
	user-select: none;
	font-weight: 1000;
	font-size: small;
	color: #fec46e;
}

.commentBox {
	height: 40px;
	border-left: 1px solid #dbdbdb;
	border-right: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
	display: flex;
	padding: 0 10px;
	align-items: center;
}

.commentBox input {
	border: none;
	outline: none;
	height: 100%;
	width: 100%;
	font-size: 15px;
}

.publishComment,
.inActivePublishComment {
	border-radius: 2px;
	padding: 2px 5px;
	color: #fff;
	font-weight: 600;
	user-select: none;
	margin-left: 10px;
	background-color: #fec46e;
}

.publishComment {
	cursor: pointer;
}

.inActivePublishComment {
	opacity: 0.5;
	cursor: default;
}
