@import "../../variables.scss";

.PostCardProfile,
.PostCardHome,
.PostCardDiscover {
	display: flex;
	flex-direction: column;
	background-color: white;
	overflow: hidden;
	width: 100%;
	min-width: 300px;
	max-width: 500px;
	height: fit-content;
}

.PostCardHome {
	margin: 0 auto;
}

.PostCardDiscover,
.PostCardProfile {
	margin: 10px 0;
}

.layer1 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 60px;
	border: 1px solid $gray-light;
	padding: 0 10px;
}

.publisherInfoContainer {
	height: 100%;
	display: flex;
	align-items: center;
}

.publisherInfoContainer div {
	cursor: pointer;
}

.profilePictureOfPublisher {
	cursor: pointer;
	height: 70%;
	border-radius: 50%;
	margin-right: 10px;
}

.postImage {
	height: 200px;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
}

.reviewContainer {
	display: flex;
	height: 45px;
	align-items: center;
	border: 1px solid $gray-light;
	padding: 0 10px;
}

.ratingContainer {
	display: flex;
	font-size: 20px;
}

.ratingContainer div:not(:last-child) {
	margin-right: 2px;
}

.tagsContainer {
	display: flex;
	margin-left: 10px;
}

.tag {
	border: 20px;
	padding: 3px 5px;
	border: 1px solid $black;
	border-radius: 30px;
	font-size: 13px;
	font-weight: 400;
}

.tag:not(:last-child) {
	margin-right: 5px;
}

.interactionContainer {
	display: flex;
	flex-direction: column;
	align-items: left;
	padding: 10px;
	background-color: white;
	border-left: 1px solid $gray-light;
	border-right: 1px solid $gray-light;
	border-bottom: 1px solid $gray-light;
}

.likeAndCommentContainer {
	display: flex;
	font-size: 25px;
	color: $black;
}

.likeAndCommentContainer div {
	cursor: pointer;
	transition: $hover-transition-speed;
	user-select: none;
}

.likeAndCommentContainer div:first-child {
	margin-right: 6px;
}

.likeAndCommentContainer div:hover {
	transform: scale(1.04);
	color: $orange !important;
}

.numberOfLikes,
.captionAndComments div {
	display: flex;
	margin-top: 3px;
}

.numberOfLikes {
	font-weight: 700;
}

.userNameInComment {
	margin-right: 5px;
	text-align: left;
}

.userNameInComment strong {
	cursor: pointer;
	user-select: none;
}

.userNameInComment strong::after {
	content: " ";
}

.commentContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.deleteComment {
	margin-top: -2px !important;
}

.viewPost {
	cursor: pointer;
	transition: $hover-transition-speed;
	user-select: none;
	font-weight: 1000;
	font-size: small;
	color: $orange;
	padding: 5px 8px;
	border-radius: 3px;
}

.viewPost:hover {
	background-color: $orange-light;
}

.commentBox {
	height: 40px;
	border-left: 1px solid $gray-light;
	border-right: 1px solid $gray-light;
	border-bottom: 1px solid $gray-light;
	display: flex;
	padding: 0 10px;
	align-items: center;
}

.commentBox input {
	border: none;
	outline: none;
	height: 100%;
	width: 100%;
	font-size: 15px;
}

.publishComment,
.inActivePublishComment {
	border-radius: 2px;
	padding: 2px 5px;
	color: white;
	font-weight: 700;
	user-select: none;
	margin-left: 10px;
	color: $orange;
}

.publishComment {
	cursor: pointer;
}

.inActivePublishComment {
	opacity: 0.5;
	cursor: default;
}

@media (min-width: $mobile-breakpoint-2) {
	.PostCard,
	.PostCardProfile {
		width: 300px;
	}

	.PostCardProfile {
		margin-left: 10px;
		margin-right: 10px;
	}
}

// @media (min-width: 977px) {
// 	.PostCardProfile:nth-child(3n) {
// 		margin-left: 20px;
// 	}
// }

@media (min-width: 997px) {
	.PostCardDiscover {
		width: 300px;
	}

	.PostCardDiscover:nth-child(2n) {
		margin-left: 20px;
	}
}
