@import "../../../variables.scss";

.SecondaryButton {
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	padding: 0 8px;
	cursor: pointer;
	transition: $hover-transition-speed;
	width: fit-content;
	user-select: none;
}

.standardStyle {
	border: 1px solid #5e3d0e;
	color: #5e3d0e;
}

.standardStyle:hover {
	background-color: rgb(94, 61, 14, 0.2);
}

.blackStyle {
	border: 1px solid #232323;
	color: #232323;
}

.blackStyle:hover {
	background-color: rgb(35, 35, 35, 0.2);
}

.greenStyle {
	border: 1px solid #1db954;
	color: #1db954;
}

.greenStyle:hover {
	background-color: rgb(29, 185, 84, 0.2);
}
