.ProfileViewContainer {
	display: flex;
	width: 100%;
	justify-content: center;
}

.ProfileView {
	display: flex;
	flex-direction: column;
	max-width: 1000px;
	margin: 0 20px;
	width: 100%;
	margin-bottom: 20px;
}

.ProfileImg {
	border-radius: 50%;
	width: 200px;
	height: 200px;
}

.profileInfoContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.profileInfo {
	width: 100%;
	padding: 0 10px;
	max-width: 350px;
}

.NameButtonContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 5px;
}

.Name {
	margin-right: 15px;
}

.List {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	margin: 10px 0;
}

.Song {
	// width: 300px;
}

.About {
	display: flex;
	flex-direction: column;
}

.About h3 {
	margin-top: 10px;
}

@media (min-width: 650px) {
	.profileInfoContainer {
		flex-direction: row;
	}

	.ProfileImg {
		margin-right: 80px;
	}

	.profileInfo {
		width: 350px;
	}
}

@media (max-width: 580px) {
	.ProfileImg {
		margin-bottom: 20px;
	}
	.ProfileViewHeader {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
	}
}

@media (max-width: 385px) {
	.List {
		display: flex;
		flex-direction: row;
		text-align: center;
	}
}

@media (min-width: 385px) and (max-width: 812px) {
	.List {
		display: flex;
		flex-direction: row;
		text-align: center;
	}
}
