.ProfileViewHeader{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: center;
	margin-bottom: 20px;
}
.ProfileImg {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-left:80px;
    margin-right:80px;
}

.ProfileInfo {
    font-size: 20px;
}

.NameButtonContainer {
    display:flex;
    margin-bottom: 5px;
}

.Name{
    margin-right:20px;
}

.List {
    display:flex;
    list-style-type: none;
    margin-bottom:20px;
}

.List > li {
    margin-right: 20px;
}

.Song {
    display: flex;
}

.About {
    display: flex;
    flex-direction: column;
}